<% if @rental.user %>
  <p>created by:<%= link_to @rental.user.username, user_path(@rental.user) %></p>
<% end %>
<p>
  title: <%= @rental.title %>
</p>
<p>
  description: <%= simple_format(@rental.description) %>
</p>

<% if @rental.categories.any? %>
  <%= render @rental.categories %> &nbsp;
<% end %>

<% if logged_in? && (current_user == @rental.user || current_user.admin?) %>
  <p><%= link_to 'edit', edit_rental_path(@rental) %></p>
  <p><%= link_to 'delete listing', rental_path(@rental), method: :delete,data: { confirm: 'Are you sure?' } %></p>
<% end %>

  <h4><b>created by:<%= link_to @rental.user.username, user_path(@rental.user) %></b></h4>
  
        