<h1>#show</h1>
<p>
  title: <%= @rental.title %>
</p>
<p>
  description: <%= @rental.description %>
</p>
<p>
<%= link_to 'edit', edit_rental_path(@rental) %>
</p>
<p>
<%= link_to 'rentals listing', rentals_path %>
</p>

  <h4><b>created by:<%= link_to @rental.user.username, user_path(@rental.user) %></b></h4>
  
        